.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

/* Write your CSS here */
.comment-item-container {
  display: flex;
  flex-direction: column;
  border-bottom: 2px #94a3b8 solid;
}

.like-button {
  align-self: flex-start;
  width: 35px;
  background-color: transparent;
  border: none;
}

.like-icon {
  width: 25px;
}

.delete-icon {
  align-self: flex-end;
  width: 25px;
  margin-bottom: 20px;
}

.icons-container {
  display: flex;
  justify-content: space-between;
}

.profile-dp {
  color: #ffffff;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 50px;
  margin-right: 10px;
}

.time {
  color: #cbd2d9;
  margin-left: 10px;
  font-size: 12px;
  font-weight: lighter;
}

.comment-description {
  margin-left: 50px;
  margin-top: 0px;
}

.like-container {
  display: flex;
  width: 300px;
  align-items: center;
  height: 30px;
}

.like {
  margin-left: 10px;
}

.liked {
  color: #0ea5e9;
}

.name {
  font-weight: bold;
}
